.team {
    display: flex;
    justify-content: center;
    grid-gap: 2rem
}

.Gal {
    background-image: url("../../Resources/Team/Gal.jpeg");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem
}

    .Gal:hover {
        background-image: url("https://www.freepngimg.com/thumb/linkedin/6-2-linkedin-transparent-thumb.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 180px;
        height: 180px;
        margin: 5px;
        -webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
        -webkit-border-radius: 5px;
        -o-transition-property: width,height,-o-transform,background,font-size,opacity;
        -o-transition-duration: 2s,2s,2s,3s,2s,2s;
        -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
        -moz-transition-duration: 2s,2s,2s,3s,2s,2s;
        transition-property: width,height,transform,background,font-size,opacity;
        transition-duration: 2s,2s,2s,3s,2s,2s;
        border-radius: 15px;
        opacity: 0.5;
    }

.miller {
    background-image: url("../../Resources/Team/miller.jpeg");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem
}

    .miller:hover {
        background-image: url("https://www.freepngimg.com/thumb/linkedin/6-2-linkedin-transparent-thumb.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 180px;
        height: 180px;
        margin: 5px;
        -webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
        -webkit-border-radius: 5px;
        -o-transition-property: width,height,-o-transform,background,font-size,opacity;
        -o-transition-duration: 2s,2s,2s,3s,2s,2s;
        -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
        -moz-transition-duration: 2s,2s,2s,3s,2s,2s;
        transition-property: width,height,transform,background,font-size,opacity;
        transition-duration: 2s,2s,2s,3s,2s,2s;
        border-radius: 15px;
        opacity: 0.5;
    }

.dorel {
    background-image: url("../../Resources/Team/Dorel.jpeg");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem
}

    .dorel:hover {
        background-image: url("https://www.freepngimg.com/thumb/linkedin/6-2-linkedin-transparent-thumb.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 180px;
        height: 180px;
        margin: 5px;
        -webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
        -webkit-border-radius: 5px;
        -o-transition-property: width,height,-o-transform,background,font-size,opacity;
        -o-transition-duration: 2s,2s,2s,3s,2s,2s;
        -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
        -moz-transition-duration: 2s,2s,2s,3s,2s,2s;
        transition-property: width,height,transform,background,font-size,opacity;
        transition-duration: 2s,2s,2s,3s,2s,2s;
        border-radius: 15px;
        opacity: 0.5;
    }

.ron {
    background-image: url("../../Resources/Team/Ron.jpeg");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem
}

    .ron:hover {
        background-image: url("https://www.freepngimg.com/thumb/linkedin/6-2-linkedin-transparent-thumb.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 180px;
        height: 180px;
        margin: 5px;
        -webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
        -webkit-border-radius: 5px;
        -o-transition-property: width,height,-o-transform,background,font-size,opacity;
        -o-transition-duration: 2s,2s,2s,3s,2s,2s;
        -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
        -moz-transition-duration: 2s,2s,2s,3s,2s,2s;
        transition-property: width,height,transform,background,font-size,opacity;
        transition-duration: 2s,2s,2s,3s,2s,2s;
        border-radius: 15px;
        opacity: 0.5;
    }


h1 {
    color:white;
    margin-top: 7rem;
    text-shadow: 2px 2px black;
}

.facebook {
    color: white;
    width: 350px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

p1 {
    color: white;
    width: 350px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
