  
    .tone-1 {
        margin-top:100rem;
        background-image: url('../../Resources/Imeges/three.jpg');
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 50vh;
        box-shadow: 2px 1.5rem 1.5rem rgba(2, 1, 1, 0.3);
        -moz-border-radius: 22px;
        -webkit-border-radius: 22px;
        margin-top:3rem;
    }




    #submitsearch {
        margin-top: 10PX;
        margin-left: 55px;
        font-family: 'Abril Fatface', sans-serif;
        padding: 1.5rem;
        color: #f6f7f7;
        font-size: 1.5rem;
        transition: all .5s;
        background-color: black;
    }

        #submitsearch:hover {
            color: #f6f7f7;
            box-shadow: 3px 1rem 2rem rgba(2, 1, 1, 0.3);
            transform: translateY(-0.5rem);
        }