@{
    ViewBag.Title = "About";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/HomeStyle/About.css">
</head>

<body>
    <h1 style="color:white;margin-top:7rem;margin-bottom:5rem;position:center;text-shadow: 2px 2px black;">Our Team</h1>

    <div class="team">
        <a href="https://www.linkedin.com/in/jacobsongal/">
            <div>
                <img class="Gal">
                <h5 style="color:white; margin-left: 3rem;">Gal Jacobson</h5>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/jacobsongal/">
            <div>
                <img class="miller">
                <h5 style="color:white; margin-left: 3rem;">Roey Miller</h5>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/dorel-fadlon/">
            <div>
                <img class="dorel">
                <h5 style="color:white; margin-left: 3rem;">Dorel Fadlon</h5>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/ron-fybish/">
            <div>
                <img class="ron">
                <h5 style="color:white; margin-left: 3rem;">Ron Fybish</h5>
            </div>
        </a>
    </div>

    <h1 style="color:white;margin-top:5rem;margin-bottom:5rem;position:center;text-shadow: 2px 2px black;">Our Office</h1>

    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="1140" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%D7%A8%D7%95%D7%98%D7%A9%D7%99%D7%9C%D7%93%2032%20%D7%91%D7%AA%20%D7%99%D7%9D&t=k&z=15&ie=UTF8&iwloc=&output=embed" frameborder="1" scrolling="yes" marginheight="10" marginwidth="0"></iframe></div>
    </div>

    <div class="facebook">
        <h4>Like US! Recommend US! Share US!</h4>
        <div class="fb-like" data-href="https://www.facebook.com/Fadlon-Real-Estate-124652649071990/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div> <div class="fb-like" data-href="https://www.facebook.com/Fadlon-Real-Estate-124652649071990/" data-width="200" data-layout="button_count" data-action="recommend" data-size="large" data-share="true"></div>
    </div>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>
</body>
