@{
    ViewBag.Title = "Home - Customer";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/HomeStyle/Index.css">
</head>

<body>
    <div class="body-content">
        <div class="product-info">
            <img id="photo" src="~/Content/Resources/Fadlon.png" alt="logo">
            <h1>Fadlon Real Estate Office</h1>
            <p> Top Real Estate Office in Bat-Yam </p>
            <div class="info-btns">
                <a href="http://localhost:56360/Propeties/Index" class="btn discover-btn">Propeties</a>
            </div>
        </div>
    </div>

    <div class="vid">
        <iframe frameborder="1" scrolling="yes" marginheight="0" marginwidth="0" width="1135" height="500" type="text/html" src="https://www.youtube.com/embed/rzSUKaz1lHY?autoplay=1&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&vq=hd1080"></iframe>
    </div>

    <script>
$(document).ready(function () {
            $('#photo').fadeToggle(0).fadeToggle(1300);
        });</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js"></script>
</body>

