@{
    ViewBag.Title = "Home";
 }
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/Content/Style/HomeStyle/Index.css">
        <link href="https://fonts.googleapis.com/css?family=Farro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    </head>

<body>
    <div>
        <div class="office">
            <img id="photo" src="~/Content/Resources/Fadlon.png" alt="logo">
            <h1>Fadlon Real Estate Office</h1>
            <p> Top Real Estate Office in Bat-Yam </p>
            <a href="@Url.Action("Gallery", "Properties")" class="btn cart-btn">Gallery</a>
        </div>
    </div>
    <div class="vid">
        <iframe frameborder="1" scrolling="yes" marginheight="0" marginwidth="0" width="880" height="500"  type="text/html" src="https://www.youtube.com/embed/rzSUKaz1lHY?autoplay=1&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&vq=hd1080" style="margin-left:12rem; margin-bottom:10rem;"></iframe>
    </div>

    <script>
        $(document).ready(function () {
            $('#photo').fadeToggle(0).fadeToggle(2000);
        });
    </script>
</body>
