
@{
    ViewBag.Title = "Login";
    if (@ViewBag.Admin == "true")
    {
        Layout = "~/Views/Shared/_BrokerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/HomeStyle/Login.css">
</head>

<body>
    <div class="tone-1">
        <div class="product-info">
            <form id="formSearch" method="post">
                <h1 id="h11"> Log In</h1>
                <div class="row" id="SearchBox">
                    <div class="col-md-2"> <input type="text" value="@ViewBag.name" id="name" name="Name" placeholder="Username" /></div>
                </div>
                <div class="row" id="SearchBox">
                    <div class="col-md-2"> <input type="password" value="@ViewBag.password" id="password" name="password" placeholder="Password" /></div>
                </div>
                <input type="submit" id="submitsearch" value="Log in" />
            </form>
        </div>
    </div>

    <script>
$(document).ready(function () {

            $('#main').css({
                "position": "absolute",
                "display": "flex",
                "top": "0",
                "left": "0",
                "right": "0",
                "bottom": "0"
            });

            $('#h11').css({
                "font-family": "Abril Fatface"

            });


        });</script>
</body>
