@model IEnumerable<FadlonRealEstate.Models.Property>
@{
    ViewBag.Title = "Gallery";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style/PropertiesStyle/Gallery.css">
</head>

<body>
    <br />
    <br />
    <br />
  
    <h1>Gallery page</h1>
    @ViewBag.Price

    <script src="~/Scripts/gallery.js">

    </script>

</body>


