@{
    ViewBag.Title = "Group";
}
@using FadlonRealEstate.Models
@using FadlonRealEstate.Controllers
@model List<Group<string, Property>>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/Content/Style/PropertiesStyle/Group.css">
    </head>

<body>
    <h2 style="margin-top:7rem; color:white;">Grouping Properties by Type</h2>

    <table class="table" style="color: black; background-image: url(../../Content/Resources/Imeges/contact.jpg);background-position:center; background-repeat: no-repeat; background-size: cover;">
        <tbody>
            @foreach (var group in Model)
            {
                <tr><th colspan="3" style=" font-size:20px; ">@group.Key</th></tr>
                <tr><th>City</th><th style="padding-left:90rem;">Property Name</th></tr>

                foreach (var Property in group.Values)
                {
                    <tr><td>@Property.city</td><td style="padding-left:90rem; font-size:15px;">@Property.PropertyName</td><td></tr>
}
            }
        </tbody>
    </table>

</body>